<h1>
  <strong>
      Sensitive.UI
      <span>
        CLICK
      </span>
  </strong>
</h1>
<span>
    Move your mouse to the selectbox.
</span>

<div class="pt2em">
    <select class="form-control sensitive-hover">
      <option>Hover here</option>
      <option>Option 1</option>
      <option>Option 2</option>
      <option>Option 3</option>
    </select>
</div>


<div class="pt2em">
  <h4>
    USAGE
  </h4>

    <pre>
      $('.sensitive').sensitive({
        type: 'hover'
      });
    </pre>
</div>